
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
 <!-- HERO SECTION -->
 <section class="bg-dark text-light text-center p-5">
      <h1>Hi, I'm <span class="text-warning">Hammad</span></h1>
      <p class="lead">Full-Stack Developer | Python | Django | Frontend</p>
      <a href="projects/" class="btn btn-warning btn-lg mt-3">View My Work</a>
  </section>
    <!-- SKILLS SECTION -->
   <section class="container text-center my-5">
      <h2 class="mb-4">My Skills</h2>
      <div class="row">
         <div class="col-md-4 mb-3">
            <div class="p-4 border rounded shadow-sm">
               <h4>Frontend</h4>
               <p>HTML, CSS, JavaScript, Bootstrap</p>
            </div>
         </div>
         <div class="col-md-4 mb-3">
            <div class="p-4 border rounded shadow-sm">
               <h4>Backend</h4>
               <p>Python, Django, REST APIs</p>
            </div>
         </div>
         <div class="col-md-4 mb-3">
            <div class="p-4 border rounded shadow-sm">
               <h4>Tools</h4>
               <p>Git, GitHub, SQL, Linux</p>
            </div>
         </div>
      </div>
   </section> 

   {% endblock %}
